/*
 * LUSID API
 * # Introduction  This page documents the [LUSID APIs](https://www.lusid.com/api/swagger), which allows authorised clients to query and update their data within the LUSID platform.  SDKs to interact with the LUSID APIs are available in the following languages and frameworks:  * [C#](https://github.com/finbourne/lusid-sdk-csharp) * [Java](https://github.com/finbourne/lusid-sdk-java) * [JavaScript](https://github.com/finbourne/lusid-sdk-js) * [Python](https://github.com/finbourne/lusid-sdk-python) * [Angular](https://github.com/finbourne/lusid-sdk-angular)  The LUSID platform is made up of a number of sub-applications. You can find the API / swagger documentation by following the links in the table below.   | Application | Description | API / Swagger Documentation | | ----- | ----- | ---- | | LUSID | Open, API-first, developer-friendly investment data platform. | [Swagger](https://www.lusid.com/api/swagger/index.html) | | Web app | User-facing front end for LUSID. | [Swagger](https://www.lusid.com/app/swagger/index.html) | | Scheduler | Automated job scheduler. | [Swagger](https://www.lusid.com/scheduler2/swagger/index.html) | | Insights |Monitoring and troubleshooting service. | [Swagger](https://www.lusid.com/insights/swagger/index.html) | | Identity | Identity management for LUSID (in conjuction with Access) | [Swagger](https://www.lusid.com/identity/swagger/index.html) | | Access | Access control for LUSID (in conjunction with Identity) | [Swagger](https://www.lusid.com/access/swagger/index.html) | | Drive | Secure file repository and manager for collaboration. | [Swagger](https://www.lusid.com/drive/swagger/index.html) | | Luminesce | Data virtualisation service (query data from multiple providers, including LUSID) | [Swagger](https://www.lusid.com/honeycomb/swagger/index.html) | | Notification | Notification service. | [Swagger](https://www.lusid.com/notifications/swagger/index.html) | | Configuration | File store for secrets and other sensitive information. | [Swagger](https://www.lusid.com/configuration/swagger/index.html) | 
 *
 * The version of the OpenAPI document: 0.11.3509
 * Contact: info@finbourne.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.finbourne.lusid.api;

import com.finbourne.lusid.ApiCallback;
import com.finbourne.lusid.ApiClient;
import com.finbourne.lusid.ApiException;
import com.finbourne.lusid.ApiResponse;
import com.finbourne.lusid.Configuration;
import com.finbourne.lusid.Pair;
import com.finbourne.lusid.ProgressRequestBody;
import com.finbourne.lusid.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.finbourne.lusid.model.CreateReferencePortfolioRequest;
import com.finbourne.lusid.model.GetReferencePortfolioConstituentsResponse;
import com.finbourne.lusid.model.LusidProblemDetails;
import com.finbourne.lusid.model.LusidValidationProblemDetails;
import java.time.OffsetDateTime;
import com.finbourne.lusid.model.Portfolio;
import com.finbourne.lusid.model.ResourceListOfConstituentsAdjustmentHeader;
import com.finbourne.lusid.model.UpsertReferencePortfolioConstituentsRequest;
import com.finbourne.lusid.model.UpsertReferencePortfolioConstituentsResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ReferencePortfolioApi {
    private ApiClient localVarApiClient;
    public ReferencePortfolioApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ReferencePortfolioApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createReferencePortfolio
     * @param scope The scope in which to create the reference portfolio. (required)
     * @param createReferencePortfolioRequest The definition of the reference portfolio. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The created reference portfolio, with populated id </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createReferencePortfolioCall(String scope, CreateReferencePortfolioRequest createReferencePortfolioRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createReferencePortfolioRequest;

        // create path and map variables
        String localVarPath = "/api/referenceportfolios/{scope}"
            .replaceAll("\\{" + "scope" + "\\}", localVarApiClient.escapeString(scope.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json-patch+json", "application/json", "text/json", "application/_*+json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);
        localVarHeaderParams.put("X-LUSID-SDK-Language", "Java");
        localVarHeaderParams.put("X-LUSID-SDK-Version", "0.11.3509");

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createReferencePortfolioValidateBeforeCall(String scope, CreateReferencePortfolioRequest createReferencePortfolioRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'scope' is set
        if (scope == null) {
            throw new ApiException("Missing the required parameter 'scope' when calling createReferencePortfolio(Async)");
        }
        
        // verify the required parameter 'createReferencePortfolioRequest' is set
        if (createReferencePortfolioRequest == null) {
            throw new ApiException("Missing the required parameter 'createReferencePortfolioRequest' when calling createReferencePortfolio(Async)");
        }
        

        okhttp3.Call localVarCall = createReferencePortfolioCall(scope, createReferencePortfolioRequest, _callback);
        return localVarCall;

    }

    /**
     * Create reference portfolio
     * Create a reference portfolio in a particular scope.
     * @param scope The scope in which to create the reference portfolio. (required)
     * @param createReferencePortfolioRequest The definition of the reference portfolio. (required)
     * @return Portfolio
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The created reference portfolio, with populated id </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public Portfolio createReferencePortfolio(String scope, CreateReferencePortfolioRequest createReferencePortfolioRequest) throws ApiException {
        ApiResponse<Portfolio> localVarResp = createReferencePortfolioWithHttpInfo(scope, createReferencePortfolioRequest);
        return localVarResp.getData();
    }

    /**
     * Create reference portfolio
     * Create a reference portfolio in a particular scope.
     * @param scope The scope in which to create the reference portfolio. (required)
     * @param createReferencePortfolioRequest The definition of the reference portfolio. (required)
     * @return ApiResponse&lt;Portfolio&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The created reference portfolio, with populated id </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Portfolio> createReferencePortfolioWithHttpInfo(String scope, CreateReferencePortfolioRequest createReferencePortfolioRequest) throws ApiException {
        okhttp3.Call localVarCall = createReferencePortfolioValidateBeforeCall(scope, createReferencePortfolioRequest, null);
        Type localVarReturnType = new TypeToken<Portfolio>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create reference portfolio (asynchronously)
     * Create a reference portfolio in a particular scope.
     * @param scope The scope in which to create the reference portfolio. (required)
     * @param createReferencePortfolioRequest The definition of the reference portfolio. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The created reference portfolio, with populated id </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createReferencePortfolioAsync(String scope, CreateReferencePortfolioRequest createReferencePortfolioRequest, final ApiCallback<Portfolio> _callback) throws ApiException {
        okhttp3.Call localVarCall = createReferencePortfolioValidateBeforeCall(scope, createReferencePortfolioRequest, _callback);
        Type localVarReturnType = new TypeToken<Portfolio>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getReferencePortfolioConstituents
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param effectiveAt The effective date of the constituents to retrieve. Defaults to the current LUSID system datetime if not specified. (optional)
     * @param asAt The asAt datetime at which to retrieve constituents. Defaults to return the latest version              of each constituent if not specified. (optional)
     * @param propertyKeys A list of property keys from the &#39;Instrument&#39; or &#39;ReferenceHolding&#39; domain to decorate onto              constituents. These take the format {domain}/{scope}/{code} e.g. &#39;Instrument/system/Name&#39; or              &#39;ReferenceHolding/strategy/quantsignal&#39;. Defaults to return all available instrument and reference holding properties if not specified. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The requested reference portfolio constituents </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReferencePortfolioConstituentsCall(String scope, String code, String effectiveAt, OffsetDateTime asAt, List<String> propertyKeys, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/referenceportfolios/{scope}/{code}/constituents"
            .replaceAll("\\{" + "scope" + "\\}", localVarApiClient.escapeString(scope.toString()))
            .replaceAll("\\{" + "code" + "\\}", localVarApiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (effectiveAt != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("effectiveAt", effectiveAt));
        }

        if (asAt != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("asAt", asAt));
        }

        if (propertyKeys != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "propertyKeys", propertyKeys));
        }

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);
        localVarHeaderParams.put("X-LUSID-SDK-Language", "Java");
        localVarHeaderParams.put("X-LUSID-SDK-Version", "0.11.3509");

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getReferencePortfolioConstituentsValidateBeforeCall(String scope, String code, String effectiveAt, OffsetDateTime asAt, List<String> propertyKeys, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'scope' is set
        if (scope == null) {
            throw new ApiException("Missing the required parameter 'scope' when calling getReferencePortfolioConstituents(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling getReferencePortfolioConstituents(Async)");
        }
        

        okhttp3.Call localVarCall = getReferencePortfolioConstituentsCall(scope, code, effectiveAt, asAt, propertyKeys, _callback);
        return localVarCall;

    }

    /**
     * Get reference portfolio constituents
     * Get constituents from a reference portfolio at a particular effective time.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param effectiveAt The effective date of the constituents to retrieve. Defaults to the current LUSID system datetime if not specified. (optional)
     * @param asAt The asAt datetime at which to retrieve constituents. Defaults to return the latest version              of each constituent if not specified. (optional)
     * @param propertyKeys A list of property keys from the &#39;Instrument&#39; or &#39;ReferenceHolding&#39; domain to decorate onto              constituents. These take the format {domain}/{scope}/{code} e.g. &#39;Instrument/system/Name&#39; or              &#39;ReferenceHolding/strategy/quantsignal&#39;. Defaults to return all available instrument and reference holding properties if not specified. (optional)
     * @return GetReferencePortfolioConstituentsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The requested reference portfolio constituents </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public GetReferencePortfolioConstituentsResponse getReferencePortfolioConstituents(String scope, String code, String effectiveAt, OffsetDateTime asAt, List<String> propertyKeys) throws ApiException {
        ApiResponse<GetReferencePortfolioConstituentsResponse> localVarResp = getReferencePortfolioConstituentsWithHttpInfo(scope, code, effectiveAt, asAt, propertyKeys);
        return localVarResp.getData();
    }

    /**
     * Get reference portfolio constituents
     * Get constituents from a reference portfolio at a particular effective time.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param effectiveAt The effective date of the constituents to retrieve. Defaults to the current LUSID system datetime if not specified. (optional)
     * @param asAt The asAt datetime at which to retrieve constituents. Defaults to return the latest version              of each constituent if not specified. (optional)
     * @param propertyKeys A list of property keys from the &#39;Instrument&#39; or &#39;ReferenceHolding&#39; domain to decorate onto              constituents. These take the format {domain}/{scope}/{code} e.g. &#39;Instrument/system/Name&#39; or              &#39;ReferenceHolding/strategy/quantsignal&#39;. Defaults to return all available instrument and reference holding properties if not specified. (optional)
     * @return ApiResponse&lt;GetReferencePortfolioConstituentsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The requested reference portfolio constituents </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetReferencePortfolioConstituentsResponse> getReferencePortfolioConstituentsWithHttpInfo(String scope, String code, String effectiveAt, OffsetDateTime asAt, List<String> propertyKeys) throws ApiException {
        okhttp3.Call localVarCall = getReferencePortfolioConstituentsValidateBeforeCall(scope, code, effectiveAt, asAt, propertyKeys, null);
        Type localVarReturnType = new TypeToken<GetReferencePortfolioConstituentsResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get reference portfolio constituents (asynchronously)
     * Get constituents from a reference portfolio at a particular effective time.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param effectiveAt The effective date of the constituents to retrieve. Defaults to the current LUSID system datetime if not specified. (optional)
     * @param asAt The asAt datetime at which to retrieve constituents. Defaults to return the latest version              of each constituent if not specified. (optional)
     * @param propertyKeys A list of property keys from the &#39;Instrument&#39; or &#39;ReferenceHolding&#39; domain to decorate onto              constituents. These take the format {domain}/{scope}/{code} e.g. &#39;Instrument/system/Name&#39; or              &#39;ReferenceHolding/strategy/quantsignal&#39;. Defaults to return all available instrument and reference holding properties if not specified. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The requested reference portfolio constituents </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReferencePortfolioConstituentsAsync(String scope, String code, String effectiveAt, OffsetDateTime asAt, List<String> propertyKeys, final ApiCallback<GetReferencePortfolioConstituentsResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = getReferencePortfolioConstituentsValidateBeforeCall(scope, code, effectiveAt, asAt, propertyKeys, _callback);
        Type localVarReturnType = new TypeToken<GetReferencePortfolioConstituentsResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listConstituentsAdjustments
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param fromEffectiveAt Events between this time (inclusive) and the toEffectiveAt are returned. (required)
     * @param toEffectiveAt Events between this time (inclusive) and the fromEffectiveAt are returned. (required)
     * @param asAtTime The asAt time for which the result is valid. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listConstituentsAdjustmentsCall(String scope, String code, String fromEffectiveAt, String toEffectiveAt, OffsetDateTime asAtTime, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/referenceportfolios/{scope}/{code}/constituentsadjustments"
            .replaceAll("\\{" + "scope" + "\\}", localVarApiClient.escapeString(scope.toString()))
            .replaceAll("\\{" + "code" + "\\}", localVarApiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (fromEffectiveAt != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fromEffectiveAt", fromEffectiveAt));
        }

        if (toEffectiveAt != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("toEffectiveAt", toEffectiveAt));
        }

        if (asAtTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("asAtTime", asAtTime));
        }

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);
        localVarHeaderParams.put("X-LUSID-SDK-Language", "Java");
        localVarHeaderParams.put("X-LUSID-SDK-Version", "0.11.3509");

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listConstituentsAdjustmentsValidateBeforeCall(String scope, String code, String fromEffectiveAt, String toEffectiveAt, OffsetDateTime asAtTime, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'scope' is set
        if (scope == null) {
            throw new ApiException("Missing the required parameter 'scope' when calling listConstituentsAdjustments(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling listConstituentsAdjustments(Async)");
        }
        
        // verify the required parameter 'fromEffectiveAt' is set
        if (fromEffectiveAt == null) {
            throw new ApiException("Missing the required parameter 'fromEffectiveAt' when calling listConstituentsAdjustments(Async)");
        }
        
        // verify the required parameter 'toEffectiveAt' is set
        if (toEffectiveAt == null) {
            throw new ApiException("Missing the required parameter 'toEffectiveAt' when calling listConstituentsAdjustments(Async)");
        }
        

        okhttp3.Call localVarCall = listConstituentsAdjustmentsCall(scope, code, fromEffectiveAt, toEffectiveAt, asAtTime, _callback);
        return localVarCall;

    }

    /**
     * List constituents adjustments
     * List adjustments made to constituents in a reference portfolio.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param fromEffectiveAt Events between this time (inclusive) and the toEffectiveAt are returned. (required)
     * @param toEffectiveAt Events between this time (inclusive) and the fromEffectiveAt are returned. (required)
     * @param asAtTime The asAt time for which the result is valid. (optional)
     * @return ResourceListOfConstituentsAdjustmentHeader
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public ResourceListOfConstituentsAdjustmentHeader listConstituentsAdjustments(String scope, String code, String fromEffectiveAt, String toEffectiveAt, OffsetDateTime asAtTime) throws ApiException {
        ApiResponse<ResourceListOfConstituentsAdjustmentHeader> localVarResp = listConstituentsAdjustmentsWithHttpInfo(scope, code, fromEffectiveAt, toEffectiveAt, asAtTime);
        return localVarResp.getData();
    }

    /**
     * List constituents adjustments
     * List adjustments made to constituents in a reference portfolio.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param fromEffectiveAt Events between this time (inclusive) and the toEffectiveAt are returned. (required)
     * @param toEffectiveAt Events between this time (inclusive) and the fromEffectiveAt are returned. (required)
     * @param asAtTime The asAt time for which the result is valid. (optional)
     * @return ApiResponse&lt;ResourceListOfConstituentsAdjustmentHeader&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ResourceListOfConstituentsAdjustmentHeader> listConstituentsAdjustmentsWithHttpInfo(String scope, String code, String fromEffectiveAt, String toEffectiveAt, OffsetDateTime asAtTime) throws ApiException {
        okhttp3.Call localVarCall = listConstituentsAdjustmentsValidateBeforeCall(scope, code, fromEffectiveAt, toEffectiveAt, asAtTime, null);
        Type localVarReturnType = new TypeToken<ResourceListOfConstituentsAdjustmentHeader>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List constituents adjustments (asynchronously)
     * List adjustments made to constituents in a reference portfolio.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param fromEffectiveAt Events between this time (inclusive) and the toEffectiveAt are returned. (required)
     * @param toEffectiveAt Events between this time (inclusive) and the fromEffectiveAt are returned. (required)
     * @param asAtTime The asAt time for which the result is valid. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listConstituentsAdjustmentsAsync(String scope, String code, String fromEffectiveAt, String toEffectiveAt, OffsetDateTime asAtTime, final ApiCallback<ResourceListOfConstituentsAdjustmentHeader> _callback) throws ApiException {
        okhttp3.Call localVarCall = listConstituentsAdjustmentsValidateBeforeCall(scope, code, fromEffectiveAt, toEffectiveAt, asAtTime, _callback);
        Type localVarReturnType = new TypeToken<ResourceListOfConstituentsAdjustmentHeader>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for upsertReferencePortfolioConstituents
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param upsertReferencePortfolioConstituentsRequest The constituents to upload to the reference portfolio. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call upsertReferencePortfolioConstituentsCall(String scope, String code, UpsertReferencePortfolioConstituentsRequest upsertReferencePortfolioConstituentsRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = upsertReferencePortfolioConstituentsRequest;

        // create path and map variables
        String localVarPath = "/api/referenceportfolios/{scope}/{code}/constituents"
            .replaceAll("\\{" + "scope" + "\\}", localVarApiClient.escapeString(scope.toString()))
            .replaceAll("\\{" + "code" + "\\}", localVarApiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json-patch+json", "application/json", "text/json", "application/_*+json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);
        localVarHeaderParams.put("X-LUSID-SDK-Language", "Java");
        localVarHeaderParams.put("X-LUSID-SDK-Version", "0.11.3509");

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call upsertReferencePortfolioConstituentsValidateBeforeCall(String scope, String code, UpsertReferencePortfolioConstituentsRequest upsertReferencePortfolioConstituentsRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'scope' is set
        if (scope == null) {
            throw new ApiException("Missing the required parameter 'scope' when calling upsertReferencePortfolioConstituents(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling upsertReferencePortfolioConstituents(Async)");
        }
        
        // verify the required parameter 'upsertReferencePortfolioConstituentsRequest' is set
        if (upsertReferencePortfolioConstituentsRequest == null) {
            throw new ApiException("Missing the required parameter 'upsertReferencePortfolioConstituentsRequest' when calling upsertReferencePortfolioConstituents(Async)");
        }
        

        okhttp3.Call localVarCall = upsertReferencePortfolioConstituentsCall(scope, code, upsertReferencePortfolioConstituentsRequest, _callback);
        return localVarCall;

    }

    /**
     * Upsert reference portfolio constituents
     * Add constituents to a reference portfolio.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param upsertReferencePortfolioConstituentsRequest The constituents to upload to the reference portfolio. (required)
     * @return UpsertReferencePortfolioConstituentsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public UpsertReferencePortfolioConstituentsResponse upsertReferencePortfolioConstituents(String scope, String code, UpsertReferencePortfolioConstituentsRequest upsertReferencePortfolioConstituentsRequest) throws ApiException {
        ApiResponse<UpsertReferencePortfolioConstituentsResponse> localVarResp = upsertReferencePortfolioConstituentsWithHttpInfo(scope, code, upsertReferencePortfolioConstituentsRequest);
        return localVarResp.getData();
    }

    /**
     * Upsert reference portfolio constituents
     * Add constituents to a reference portfolio.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param upsertReferencePortfolioConstituentsRequest The constituents to upload to the reference portfolio. (required)
     * @return ApiResponse&lt;UpsertReferencePortfolioConstituentsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<UpsertReferencePortfolioConstituentsResponse> upsertReferencePortfolioConstituentsWithHttpInfo(String scope, String code, UpsertReferencePortfolioConstituentsRequest upsertReferencePortfolioConstituentsRequest) throws ApiException {
        okhttp3.Call localVarCall = upsertReferencePortfolioConstituentsValidateBeforeCall(scope, code, upsertReferencePortfolioConstituentsRequest, null);
        Type localVarReturnType = new TypeToken<UpsertReferencePortfolioConstituentsResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Upsert reference portfolio constituents (asynchronously)
     * Add constituents to a reference portfolio.
     * @param scope The scope of the reference portfolio. (required)
     * @param code The code of the reference portfolio. Together with the scope this uniquely identifies              the reference portfolio. (required)
     * @param upsertReferencePortfolioConstituentsRequest The constituents to upload to the reference portfolio. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The details of the input related failure </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error response </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call upsertReferencePortfolioConstituentsAsync(String scope, String code, UpsertReferencePortfolioConstituentsRequest upsertReferencePortfolioConstituentsRequest, final ApiCallback<UpsertReferencePortfolioConstituentsResponse> _callback) throws ApiException {
        okhttp3.Call localVarCall = upsertReferencePortfolioConstituentsValidateBeforeCall(scope, code, upsertReferencePortfolioConstituentsRequest, _callback);
        Type localVarReturnType = new TypeToken<UpsertReferencePortfolioConstituentsResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
